<!DOCTYPE html>
<html>
    <head>
        <h1>내가 만든 계산기</h1>
    </head>
    <body>
        <h1>숫자를 입력 하세요</h1>
        <form action="">
            <input type="int" name = "num1">
            <select name="operators">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="int" name = "num2">
            <input type="submit">
            <br/>
            결과값: {{ result }}
        </form>
    </body>
</html>